<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820697312737-o80trma112vf2tr97js7bpo2goteu3gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820697312737-o80trma112vf2tr97js7bpo2goteu3gr</string>
	<key>API_KEY</key>
	<string>AIzaSyB8rjtQbt4znt3pDC-DyWWSQso48zyoDWk</string>
	<key>GCM_SENDER_ID</key>
	<string>820697312737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capew.bun</string>
	<key>PROJECT_ID</key>
	<string>just-bun-app</string>
	<key>STORAGE_BUCKET</key>
	<string>just-bun-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820697312737:ios:f143fe674ed8053c</string>
	<key>DATABASE_URL</key>
	<string>https://just-bun-app.firebaseio.com</string>
</dict>
</plist>